/*************************************************
*
*	Front-end News! Stylesheet
*
*   
*   Gray (dark)	  #252525
*   Gray (light)  #b7b7b7
*   Orange        #f26522
*
************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,500,700,300,200,900|Source+Sans+Pro:400,300,600,700,900);

/*----------------------------------------------
* Base
-----------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    color: #252525;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
    margin-top: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {}

a {
    color: #fff;
    transition: 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus {
    color: #f26522;
}


/*----------------------------------------------
* Border
-----------------------------------------------*/

.top-border {
    background-color: #b7b7b7;
    display: flex;
    align-items: flex-start;
    height: 20px;
    width: 100%;
}

.bottom-border {
    background-color: #b7b7b7;
    display: flex;
    align-items: flex-end;
    height: 20px;
    width: 100%;
}


/*----------------------------------------------
* Main
-----------------------------------------------*/

.main-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}


/*----------------------------------------------
* Sidebar
-----------------------------------------------*/

.sidebar-content {
    color: #fff;
    background-color: #252525;
    display: flex;
    width: 100%;
}

.sidebar-items {
    display: flex;
    align-content: stretch;
    padding: 8px 136px 8px 10px;
}

.sidebar-items a:active,
.sidebar-items a:hover,
.sidebar-items a:focus {
    background-color: #b7b7b7;
}


/*----------------------------------------------
* Navbar
-----------------------------------------------*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 4;
    z-index: 1000;
    width: 100%;
    color: #252525;
    background-color: #f26522;
    height: 40px;
}

.nav-list {
    display: flex;
}

.nav-items {
    display: flex;
    align-self: center;
    padding: 8px 20px;
}

.nav-items a:active,
.nav-items a:hover,
.nav-items a:focus {
    background-color: #252525;
    padding: 8px 10px;
}


/*----------------------------------------------
* Info
-----------------------------------------------*/

.info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    flex-grow: 1;
    z-index: -1;
    width: 100%;
    height: 200px;
    border: 1px solid #252525;
}

.info-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.side {
    display: flex;
    width: 30%;
    background: #333;
    padding: 20px;
    max-height: 870px;
    margin: 0px;
    overflow: hidden;
}

.side ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #555 solid 1px;
    color: #eee;
    -webkit-font-smoothing: antialiased;
}

.side ul li {
    margin-top: 2px;
    margin-bottom: 10px;
    font-weight: 500;
}

.side>ul>li {
    font-weight: 600;
    color: #eee;
    text-transform: uppercase;
}

.side>ul>li>ul {
    font-weight: normal;
    margin-left: 0;
    padding-left: 0;
    text-transform: normal;
}